* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  border: 1 px solid black;
  border-radius: 20px;
}
.deletebutton {
  background-color: blue;
  height: 30px;
  width: 30px;
}
.editbutton {
  background-color: blue;
  min-height: 30px;
  min-width: 30px;
}
